<a href="https://colab.research.google.com/github/Ngocnguyen11906/DATA-SCIENCE-212/blob/main/IMPORT_DATA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

url='https://gist.githubusercontent.com/nnbphuong/6fdcd466c618ad48d34d61450858798c/raw/a86d87a4c8f4472901828809fcc5f027174650af/WestRoxbury.csv'
housing_df = pd.read_csv(url)
housing_df.head(10)

   TOTAL VALUE    TAX  LOT SQFT   ...  KITCHEN  FIREPLACE  REMODEL
0         344.2  4330       9965  ...        1          0     None
1         412.6  5190       6590  ...        1          0   Recent
2         330.1  4152       7500  ...        1          0     None
3         498.6  6272      13773  ...        1          1     None
4         331.5  4170       5000  ...        1          0     None
5         337.4  4244       5142  ...        1          1      Old
6         359.4  4521       5000  ...        1          0     None
7         320.4  4030      10000  ...        1          0     None
8         333.5  4195       6835  ...        1          1   Recent
9         409.4  5150       5093  ...        1          0     None

[10 rows x 14 columns]